# Loan Approval Project â€“ Data Cleaning Stage

In [1]:
# Step 1: Import Required Libraries
import numpy as np
import pandas as pd

In [2]:
# Step 2: Loan dataset
df = pd.read_csv(f"D:/LOAN APP PROJECT/data/loan_approval_dataset_20k.csv")

In [3]:
# Step 3: Basic Dataset Overview

In [4]:
df.shape

(19999, 13)

In [5]:
df.head()

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,1,2,Graduate,No,9600000,29900000,12,778,2400000,17600000,22700000,8000000,Approved
1,2,0,Not Graduate,Yes,4100000,12200000,8,417,2700000,2200000,8800000,3300000,Rejected
2,3,3,Graduate,No,9100000,29700000,20,506,7100000,4500000,33300000,12800000,Rejected
3,4,3,Graduate,No,8200000,30700000,8,467,18200000,3300000,23300000,7900000,Rejected
4,5,5,Not Graduate,Yes,9800000,24200000,20,382,12400000,8200000,29400000,5000000,Rejected

In [6]:
df.size

259987

In [7]:
df.columns

Index(['loan_id', ' no_of_dependents', ' education', ' self_employed',
       ' income_annum', ' loan_amount', ' loan_term', ' cibil_score',
       ' residential_assets_value', ' commercial_assets_value',
       ' luxury_assets_value', ' bank_asset_value', ' loan_status'],
      dtype='object')

In [8]:
df.dtypes

loan_id                       int64
 no_of_dependents             int64
 education                   object
 self_employed               object
 income_annum                 int64
 loan_amount                  int64
 loan_term                    int64
 cibil_score                  int64
 residential_assets_value     int64
 commercial_assets_value      int64
 luxury_assets_value          int64
 bank_asset_value             int64
 loan_status                 object
dtype: object

In [9]:
# strip space from columns name :

In [10]:
df.columns.tolist()

['loan_id',
 ' no_of_dependents',
 ' education',
 ' self_employed',
 ' income_annum',
 ' loan_amount',
 ' loan_term',
 ' cibil_score',
 ' residential_assets_value',
 ' commercial_assets_value',
 ' luxury_assets_value',
 ' bank_asset_value',
 ' loan_status']

In [11]:
# use thi str.strip() for remove extra spaces from columns name
df.columns = df.columns.str.strip()
df.columns

Index(['loan_id', 'no_of_dependents', 'education', 'self_employed',
       'income_annum', 'loan_amount', 'loan_term', 'cibil_score',
       'residential_assets_value', 'commercial_assets_value',
       'luxury_assets_value', 'bank_asset_value', 'loan_status'],
      dtype='object')

In [12]:
# renamaing the columns name : capitalize first character for each columns name : 
new_cols_name = []
for i in df.columns :
    new_cols_name.append(i.capitalize())

df.columns = new_cols_name

print(df.columns)

Index(['Loan_id', 'No_of_dependents', 'Education', 'Self_employed',
       'Income_annum', 'Loan_amount', 'Loan_term', 'Cibil_score',
       'Residential_assets_value', 'Commercial_assets_value',
       'Luxury_assets_value', 'Bank_asset_value', 'Loan_status'],
      dtype='object')

In [13]:
# Step 4: Check for Duplicate Rows
df.duplicated().sum()

np.int64(0)

In [14]:
# Step 5: Check for Missing Values
df.isnull().sum()

Loan_id                     0
No_of_dependents            0
Education                   0
Self_employed               0
Income_annum                0
Loan_amount                 0
Loan_term                   0
Cibil_score                 0
Residential_assets_value    0
Commercial_assets_value     0
Luxury_assets_value         0
Bank_asset_value            0
Loan_status                 0
dtype: int64

In [15]:
# check unique value in category columms : 
print(f"Education : {df['Education'].unique()}")
print(f"Self Employed : {df['Self_employed'].unique()}")

Education : [' Graduate' ' Not Graduate']
Self Employed : [' No' ' Yes']

In [16]:
# Above both categorical column values have extra spaces, so remove it spaces : 
df['Education'] = df['Education'].str.strip()
df['Self_employed'] = df['Self_employed'].str.strip()

In [17]:
print(f"Education : {df['Education'].unique()}")
print(f"Self Employed : {df['Self_employed'].unique()}")

Education : ['Graduate' 'Not Graduate']
Self Employed : ['No' 'Yes']

In [18]:
# check for invalid loan_term : 
df[df['Loan_term'] <= 0]

Empty DataFrame
Columns: [Loan_id, No_of_dependents, Education, Self_employed, Income_annum, Loan_amount, Loan_term, Cibil_score, Residential_assets_value, Commercial_assets_value, Luxury_assets_value, Bank_asset_value, Loan_status]
Index: []

In [19]:
# check cibil_score range (300 - 900) :
df['Cibil_score'].describe()
df[(df['Cibil_score'] < 300) | (df['Cibil_score'] > 900)]

Empty DataFrame
Columns: [Loan_id, No_of_dependents, Education, Self_employed, Income_annum, Loan_amount, Loan_term, Cibil_score, Residential_assets_value, Commercial_assets_value, Luxury_assets_value, Bank_asset_value, Loan_status]
Index: []

In [20]:
# check for negative values : 
numeric_cols = ['Income_annum', 'Loan_amount', 'Residential_assets_value',
        'Commercial_assets_value', 'Luxury_assets_value', 'Bank_asset_value']

for col in numeric_cols :
    print(f"{col} : {df[df[col] < 0].shape[0]}")

Income_annum : 0
Loan_amount : 0
Residential_assets_value : 458
Commercial_assets_value : 0
Luxury_assets_value : 0
Bank_asset_value : 0

In [23]:
# percentage of negative value in resedential_assets_value : 
total_negative_row_in_rav = df[df['Residential_assets_value']<0].shape[0]
total_negative_row_percentage_in_rav = (total_negative_row_in_rav/df['Residential_assets_value'].shape[0])*100
print(f"{total_negative_row_percentage_in_rav:.2f} % Negative value in Resedential_assets_value")

2.29 % Negative value in Resedential_assets_value

In [24]:
# only residential_assets_value have 458 negative columns , so fix it : 
df[df['Residential_assets_value'] < 0].head()

,Loan_id,No_of_dependents,Education,Self_employed,Income_annum,Loan_amount,Loan_term,Cibil_score,Residential_assets_value,Commercial_assets_value,Luxury_assets_value,Bank_asset_value,Loan_status
59,60,4,Not Graduate,Yes,5500000,18200000,16,797,-100000,4900000,18600000,4800000,Approved
196,197,4,Not Graduate,Yes,400000,1500000,2,669,-100000,600000,900000,500000,Approved
559,560,2,Graduate,Yes,200000,500000,6,885,-100000,0,300000,200000,Rejected
702,703,4,Graduate,Yes,6300000,23900000,6,899,-100000,11400000,20600000,6700000,Approved
737,738,2,Graduate,Yes,900000,2500000,16,458,-100000,100000,3200000,1100000,Rejected

In [30]:
import pandas as pd
import numpy as np

def fix_res_assets(df):
    # Step 1: Backup column
    df['Residential_assets_value_clean']  = df['Residential_assets_value'].copy()

    # Step 2: Replace negatives with NaN
    df.loc[df['Residential_assets_value_clean'] < 0, 'Residential_assets_value_clean'] = np.nan

    # Step 3: Create quantile bins
    df['Income_bin'] = pd.qcut(df['Residential_assets_value_clean'], q=3, labels=['Low','Mid','High'])
    df['Loan_bin']  = pd.qcut(df['Residential_assets_value_clean'], q=3, labels=['Low','Mid','High'])

    # Step 4: Group-wise median imputation
    group_median = df.groupby(['Income_bin','Loan_bin'])['Residential_assets_value_clean'].transform(
        (lambda x : x.fillna(x.median()))
    )
    df['Residential_assets_value_clean'] = df['Residential_assets_value_clean'].fillna(group_median)

    # Step 5: Fallback global median
    global_median = df['Residential_assets_value_clean'].median()
    df['Residential_assets_value_clean'] = df['Residential_assets_value_clean'].fillna(global_median)

    return df

# ðŸ”¹ Run function
df = fix_res_assets(df)

# Step 6: Verify
print("Negative values before fix:", (df['Residential_assets_value'] < 0).sum())
print("Negative/NaN after fix:", df['Residential_assets_value_clean'].isna().sum())
print("Skewness before:", df['Residential_assets_value'].skew())
print("Skewness after:", df['Residential_assets_value_clean'].skew())

Negative values before fix: 458
Negative/NaN after fix: 0
Skewness before: 0.9054111007452519
Skewness after: 0.9207661329685706

C:\Users\praja\AppData\Local\Temp\ipykernel_24000\1000807276.py:16: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  group_median = df.groupby(['Income_bin','Loan_bin'])['Residential_assets_value_clean'].transform(

In [36]:
# check how many application approval and rejected ? 
df['Loan_status'].value_counts()

Loan_status
Approved    12559
Rejected     7440
Name: count, dtype: int64